<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RockPaperScissors</title>
  <script src="../js/RockPaperScissors.js" type="text/javascript"></script>
  <script src="../js/Game.js" type="text/javascript"></script>
  <link href="../public/stylesheets/normalize.css" rel="stylesheet" type="text/css" >
  <link href="../public/stylesheets/my_styling.css" rel="stylesheet" type="text/css" >
</head>
<body>
  <table>
  <tr>
    <td><img src="../public/images/ROCK.jpg" id="rock" class="choices"></td>
    <td><img src="../public/images/PAPER.jpg" id="paper" class="choices"></td>
    <td><img src="../public/images/SCISSORS.jpg" id="scissors" class="choices"></td>
  </table>
  
  <section id="resultPicture">
    <ul>
      <li> <img src="../public/images/happyface.jpg" id="happyFace"> </li>
      <li> <img src="../public/images/sadface.jpg" id="sadFace">   </li>
    </ul>
  </section>

</body>
</html>